.texto {
    color: #4578FF !important;
    font-weight: bold;
}

.img-sobre{
    width: 40vh;
    min-height: 30vh;
    border-radius: 50%;
    position: center;
}

.titulo-sobre {
    text-align: center !important;
    color: #FF0064 !important;
    font-weight: bold !important;
}