.textoEquipe {
    color: #FF0064 !important;
    text-align: center;
    font-size: 40px;
}

.img-container {
    width: 40vh;
    min-height: 30vh;
    border-radius: 50%;
}

.botao-equipe {
    border-color: white !important;
    background-color: #FF0064 !important;
    color: white !important;
}
.rede{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
