.textoEquipe {
    color: #FF0064 !important;
    text-align: center;
    font-size: 40px;
}

.img-container {
    width: 40vh;
    min-height: 30vh;
    border-radius: 50%;
}

.botao-equipe {
    border-color: white !important;
    background-color: #FF0064 !important;
    color: white !important;
}

.cardMedia {
    padding-top: '81.25%';
    border-radius: '50%';
    margin: '28px';
}