.home {
    background-color: white;
}

.img-home {
    border-radius: 5%;
}

.titulo {
    color: #FF0064;
}

.botaoLogin {
    border-color: white !important;
    background-color: #FF0064 !important;
    color: white !important;
    margin-left: 4px !important;
}

.botaoSaiba {
    border-color: white !important;
    background-color: #4578FF !important;
    color: white !important;
    margin-right: 4px !important;
}

.texto-home {
    color: rgba(31, 25, 25, 0.815);
    font-weight: bold !important;
}