#Rodape {
    background-color: #ff0064;
    background-image: linear-gradient(0deg, #ff0064 0%, #fff 100%);
}

.text-decorator-none2{
    text-decoration: none;
    color: black;
}

.txt-footer {
    color: rgba(31, 25, 25, 0.856) !important;
}

.bold {
    font-weight: bold !important;
}

.styleIcon {
    font-size: 40px !important;
    color: rgba(31, 25, 25, 0.856) !important;
}

