.background1 {
    background-image: url("https://i.imgur.com/rG7ibgI.png");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.card{
    background: white;
}

.botao1 {
    border-color: white !important;
    background-color: #FF0064 !important;
    color: white !important;
}

.txt{
    color: #FF0064 !important;
}