.img{
    position: cover;
    width: 110vh;
    height: 100vh;
}
.text-none{
    text-decoration: none;
}

.botao1 {
    border-color: white !important;
    background-color: #FF0064 !important;
    color: white !important;
    margin-left: 4px !important;
}

.btnCancelar {
    border-color: white !important;
    background-color: #4578FF !important;
    color: white !important;
    margin-right: 4px !important;
}
