.root{
    border: 1px solid #DDD;
    border-radius: 5%;
}
.select{
    width: 60px;
}
.tamanho{
    width: 60px;
}
.btn{
    margin-right: 16px;
}

.padding {
    margin-left: 20px !important;
    margin-top: 20px !important;
}